body{
    font-family: "Montserrat", sans-serif;
    background-color:#DADBD5;
}

/* COMMON STYLES */
i{
    color:#afafaf;
}

/* HEADER */
header{
    background-color: #009788;
    width:100%;
    height: 20vh;
}

/* MAIN */

main {
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    min-width: 1000px;
}

/* USER AVATAR */

.my-user-avatar img{
    border-radius: 50%;
    width:30px;
    height:30px;
}

/* CALL TO ACTION NOTIFICATION */

.my-notification-info,
.my-search-bar-font{
    font-size: 0.8rem;
}

.my-notification-bg{
    background-color: #8edafc;
}
.my-notification-text-color{
    color: #8edafc;
}


/* char avatar messages*/
.my-overflow{
    overflow-y:scroll;
    height:66vh;
}
.avatar-img-size{
    width:40px;
    height:40px;
    border-radius: 50%;;
}

.user-name-size{
    font-size:0.9;
}


.message-sent-time{
    font-size: 0.7rem;
}
.my-message-time-font-size{
    font-size: 0.6rem;
    color:gray;
}

.my-font-size{
    font-size:0.9rem;
}

.my-user-info{
    line-height:0.8rem;
}

.my-bg-hover{
    background-color: #d3d3d3;
}

/* Chat messages */

.my-chat-bg {
    height: 80vh;
    background-image: url(../img/message-background.png);
    background-size:contain;
    overflow-y:scroll;
}
.my-message-card{
    width:250px;
    background-color:white;
    padding: 0.3rem 0.5rem 0;
    margin-bottom: 0.3rem;
}

.my-sent-message{
    background-color: #d5f9ba;
}

.dropdown-options{
    display:none;
    background-color:white;
    width: 130px;
    padding: 0.5rem;
    font-size: 0.8rem;
    right:0;
}

.dropdown-options a{
    text-decoration: none;
    color:gray;
}

.my-dropdown-menu:hover .dropdown-options{
    display:block;
    color: red;
}
.my-bg-no-messages{
    background-color: #e2d7b5;
}

/* input message bottom bar */

.my-height{
    height:50px;
}
