body{
    font-family: "Montserrat", sans-serif;
    background-color:#DADBD5;
}

/* COMMON STYLES */
i{
    color:#afafaf;
}

/* HEADER */
header{
    background-color: #009788;
    width:100%;
    height: 20vh;
}

/* MAIN */

main {
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    min-width: 1000px;
}

/* USER AVATAR */

.my-user-avatar img{
    border-radius: 50%;
    width:30px;
    height:30px;
}

/* CALL TO ACTION NOTIFICATION */

.my-notification-info,
.my-search-bar-font{
    font-size: 0.8rem;
}

.my-notification-bg{
    background-color: #8edafc;
}
.my-notification-text-color{
    color: #8edafc;
}


/* char avatar messages*/
.my-overflow{
    overflow-y:scroll;
    height:70vh;
}
.avatar-img-size{
    width:40px;
    height:40px;
    border-radius: 50%;;
}

.user-name-size{
    font-size:0.9;
}

.my-message-time-font-size,
.message-sent-time{
    font-size: 0.7rem;
}

.my-bg-hover{
    background-color: #acacac;
}

/* Chat messages */

.my-chat-bg {
    height: 80vh;
    background-image: url(../img/message-background.png);
    background-size:contain;
    overflow-y:scroll;
}
.my-message-card{
    width:250px;
    background-color:white;
}

.my-sent-message{
    background-color: #d5f9ba;
}
